.servicio{
    display: grid;
    gap: 4rem;
    grid-template-columns: 75% 22%;
}

#blog{
    margin-top: 0;
}
.lista{
    h3{
        margin-bottom: 2px;
    }
    p{
        margin-top: 2px;
        text-align: center;
    }   
}